<main class="mx-4 lmd:mt-[120px] md:min-h-dvh md:zflex">
  <div class="relative mb-8 p-6 md:p-12 bg-blue rounded-[15px]  max-w-[540px] shadow-main">
    <h2 class="text-center lmd:mt-4">ADVICE <span>#{{ id }}</span></h2>
    <h1 class="text-center mt-6 mb-6 md:mb-10" *ngIf="!loading">“ {{ advice }} ”</h1>
    <h1 class="text-center mt-6 mb-6 md:mb-10" *ngIf="loading">Loading ...</h1>
    <picture class="flex justify-center mb-10 md:mb-6">
      <source media="(min-width: 560px)" srcset="./assets/images/pattern-divider-desktop.svg">
      <img src="./assets/images/pattern-divider-mobile.svg" alt="divider image">
    </picture>
    <button (click)="changeAdvice()"
      class="bg-neon rounded-full size-16 zflex absolute bottom-0 right-1/2 translate-x-1/2 translate-y-1/2 hover:shadow-btn cursor-pointer">
      <img src="./assets/images/icon-dice.svg" alt="dice icon button">

    </button>
  </div>
</main>
<audio #audioPlayer src="./assets/sounds/dice.wav" class="hidden" preload="auto"></audio>
